* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.newsletter_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.newsletter_img img {
    width: 50px;
    height: 50px;
}
.newsletter_title {
    margin: 30px 0px;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.newsletter_description {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #6C727F;
}

.newsletter_subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px 0;
}

.newsletter_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
    gap: 16px;
    padding: 25px 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.newsletter_input {
    height: 60px;
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}

input::placeholder {
    text-align: center;
    color: #394150;
}

.newsletter_button {
    height: 60px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #284BCE;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #6C727F;

}

.newsletter_text {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #394150;
}

@media (max-width: 1024px) {
    .newsletter_img {
        padding-top: 100px;
    }
}

@media (max-width: 640px) {
    .newsletter_img {
        padding-top: 120px;
    }
    .newsletter_title {
        font-size: 30px;
    }
    .newsletter_description {
        padding: 0px 25px;
        font-size: 16px;
    }
}